/* styles.css */

/* Reset some default styles to ensure consistent rendering */
body, h1, p, select, button {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Center the content vertically and horizontally */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('https://wallpapertag.com/wallpaper/full/d/f/c/424827-aesthetic-wallpapers-2560x1440-picture.jpg'); /* Background image URL */
  background-size: cover;
  color: #ffffff; /* Adjusted font color to white */
}

/* Style the header */
h1 {
  font-size: 48px;
  color: #fff; /* Font color set to white */
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
  font-family:'Plaifair display';

}

/* Style the form container */
form {
  width: 400px;
  padding: 20px;
  background-color:  rgba(212, 157, 226, 0.82);
  border-radius:4px;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
}

/* Style the form elements */
label {
  font-size: 18px;
  margin-bottom: 10px;
  color: #040404;
  display: block;
  text-align: left;
  font-family:Cormorant Garamond;
}

select, button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  color: #181818; /* Font color adjusted for better contrast */
  font-family:Cormorant Garamond;
  
}

button {
  background-color:   rgba(113, 90, 232, 1);
}

a {
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
  margin-top: 20px;
  font-family: Cormorant Garamond;
}

a:hover {
  text-decoration: underline;
}